html {
    overflow: hidden;
}

body {
    height: 100vh;  
}

#container {
    height: 23%;
}

#not_real {
    margin-left: 5%;
    margin-top: 5%;
    display: inline-block;
}

#universe {
    display: inline-block;
    margin-left: 10%;
}

#meaningless {
    height: 20px;
}

table {
    margin-left: 1%;
}

